@font-face {
  font-family: 'Neon';
  src: url(../../fonts/Neon_Tubes_Font/NeonTubes2.otf);
}

.neon_lights h3,
.neon_lights h3 > * {
  text-align: center;
  font: 400 120px 'Neon';
  color: #ffd8d8;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff44449d, 0 0 0.5em #ff4444,
    0 0 0.1em #e0312f, 0 10px 3px #000;
}

.neon_lights h3 span:nth-of-type(1) {
  -webkit-animation: blink linear infinite 2s;
  animation: blink linear infinite 2s;
}

.neon_lights h3 span:nth-of-type(2) {
  -webkit-animation: blink linear infinite 3s;
  animation: blink linear infinite 3s;
}

.neon_lights h3 span:nth-of-type(3) {
  -webkit-animation: blink linear infinite 4.5s;
  animation: blink linear infinite 4.5s;
}

.neon_lights .neon_lights_box {
  padding: 20px;
}

@-webkit-keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@media (max-width: 1086px) {
  .neon_lights h3,
  .neon_lights h3 > * {
    font-size: 100px;
  }
}

@media (max-width: 950px) {
  .neon_lights h3,
  .neon_lights h3 > * {
    font-size: 75px;
  }
}

@media (max-width: 650px) {
  .neon_lights h3,
  .neon_lights h3 > * {
    font-size: 50px;
  }

  .neon_lights h3 span:nth-of-type(1) {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

  .neon_lights h3 span:nth-of-type(2) {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

  .neon_lights h3 span:nth-of-type(3) {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}
